/* exam stuff*/
.exambar {
    width: 1440px;
    height: 88px;
    padding: 1px 1230px 38px 104px;
    box-sizing: border-box;
    background-color: rgba(101, 120, 169, 0.2);
  }
  .exams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(42, 80, 116, 1);
    font-size: 32px;
    line-height: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .examcat {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-top: 70px;
    padding-left: 50px;
  }
  .lawexam {
    height: 100px;
    width: 30%;
    padding-left: 20px;
    border-radius: 33.53px;
    box-sizing: border-box;
    background-color: rgba(227, 241, 255, 1);
  }
  .law-enforcement {
    justify-content: center;
    color: rgba(42, 80, 116, 1);
    font-size: 24.14px;
    line-height: 50px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-align: center;
    
  }
  .take-again {
    color: rgba(52, 68, 123, 1);
    font-size: 17px;
    margin-top: -30px; 
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: left;
  }
  .socialexam {
    height: 100px;
    margin-top: 30px;
    width: 30%;
    padding: 13px 62px 1px 27px;
    border-radius: 33.53px;
    box-sizing: border-box;
    background-color: rgba(227, 241, 255, 1);
  }
  .social-worker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(42, 80, 116, 1);
    font-size: 24.14px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .start {
    color: rgba(52, 68, 123, 1);
    font-size: 17.44px;
    margin-top: -20px; 
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: left;
  }
  .verticalline {
    border-left: 2px solid rgba(52, 68, 123, 1);
    height: 650px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 5;
  }

  /* right side*/
  .exam-edit {
  position: absolute;
  width: 180px;
  height: 30px;
  left: 700px;
  top: 280px;
  
  }
  .new-exam {
    background-color: #E3F1FF;
    border: 2px solid #6578A9;
    width: 250px;
    border-radius: 20px;
    color: rgba(42, 80, 116, 1);
    font-size: 18px;
    line-height: 1px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    text-align: center;
    }
  
  .all-edit {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
  }
  .edit-rect {
    width: 275px;
    height: 100%;
    border: 2px solid rgba(101, 120, 169, 1);
    border-radius: 33.53px;
    box-sizing: border-box;
    background-color: rgba(227, 241, 255, 1);
  }
  
  .edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(128, 145, 189, 1);
    font-size: 17px;
    line-height: 17px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    padding-left: 20px;
  }
  
  .topics {
  
  position: absolute;
  width: 254px;
  height: 45px;
  left: 700px;
  top: 320px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  color: #2A5074;
  }

  .rectangle-topics {
    box-sizing: border-box;

    position: absolute;
    width: 483px;
    height: 300px;
    left: 700px;
    top: 400px;
    background: #E3F1FF;
    border: 3px solid #6578A9;
    border-radius: 33.5338px;

  }
  .generate-button {
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 58px;
    left: 840px;
    top: 740px;

    background: #E3F1FF;
    border: 2px solid #6578A9;
    
    border-radius: 33.5338px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    text-align: center;

    color: #2A5074;
  }