.exam-sections {
  display: flex;
  flex-direction: row;
}

.exam-options {
  display: flex;
  flex-direction: column;
}

.exam-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-exam {
  border-radius: 20px;
  background-color: #e3f1ff;
  margin: 10px;
}

.form-group {
  margin: 10px;
}

.exam-form-container {
  display: flex;
  justify-content: center;
}

.exam-form {
  width: 50%;
}

.question {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  background-color: #e3f1ff;
  border-radius: 10px;
  padding: 10px;
}
