.user-profile {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 30px auto 30px auto;
    border-radius: 5px;
  }
  
  .profile-details {
    display: flex;
  }
  
  /* .profile-image-container {
    margin-right: 20px;
  } */
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
  }
  
  .profile-info {
    margin: 50px;
    flex: 1;
  }
  
  .profile-info h2 {
    margin-top: 0;
  }
  

.profile-sections {
  display: flex;
  flex-direction: column;
}